.heading {
    text-align: center;
    width: 70%;
    margin: auto;
    h2 {
        color: #2f3954;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 35px;
    }
    p {
        color: #72809d;
    }
}
