@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';
.awards {
    background-color: #122947;
    .container {
        .heading {
            display: flex;
            flex-direction: column-reverse;
            p {
                color: $color-main;
            }
            h2 {
                color: $color-white;
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
    &-card {
        margin-top: 50px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    &-item {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            font-size: 32px;
            color: $color-white;
            border-radius: 4% 50%;
            background-color: rgb(255 255 255 / 10%);
        }
        h3 {
            font-size: 50px;
            color: $color-white;
        }
        p {
            color: #808080;
            text-align: center;
        }
    }
    @include xs {
        &-card {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include xxs {
        &-item {
            h3 {
                font-size: 30px;
            }
        }
    }
}
