$color-white: #fff;
$color-black: #000;
$color-main: #27ae60;
$color-grey: #808080;

$header-height: 80px;
$header-mobile-height: 60px;

$box-shadow: 0 0 20px 0 rgb(112 121 138 /18%);
$border: 1px solid rgba(128, 128, 128, 0.2);
